<ion-content >
  <div class="padding">

    <div class="logo">
      <img src="../../../assets/icon/favicon.png">
    </div>

    <ion-item lines="none">
      <ion-text class="elem-title">Entrez votre numéro de téléphone, si votre compte existe, vous recevrez un sms de réinitialisation de mot de passe </ion-text>
    </ion-item>
    <br>

    <ion-item>
      <ion-label color="light" class="elem-title"> Adresse mail</ion-label>
      <ion-input color="light" class="elem-title" type="tel" placeholder="Adresse mail"></ion-input>
    </ion-item>

    <ion-button color="success" class="elem-title" expand="block" shape="round">Envoyer</ion-button>

    <ion-button class="elem-title" routerLink="/login" color="light" expand="block" shape="round" fill="outline">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      <ion-label class="elem-title">Connexion</ion-label>
    </ion-button>
  </div>
</ion-content>
