<ion-content>
  <div class="padding">

    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
      <img src="../../../assets/icon/favicon.png">
    </div>

    <form [formGroup]="credentials" (ngSubmit)="login()">
      <ion-item>
        <ion-label color="light">Numéro de téléphone</ion-label>
        <ion-input color="light" type="tel" placeholder="Numéro de téléphone" formControlName="tel"></ion-input>
        <ion-note slot="error" *ngIf="(tel.dirty || tel.touched) && tel.errors">
          Numéro de téléphone incorrect
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
          Mot de passe incorrect
        </ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-button routerLink="/forgot" color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>

      <ion-button type="submit" (click)="login()" color="success" expand="full" [disabled]="!credentials.valid" shape="round">Se connecter</ion-button>

      <ion-button routerLink="/register" color="light" expand="block" shape="round" fill="outline">Créer un compte
      </ion-button>

      <ion-item lines="none">
        <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
      </ion-item>

      <div>
        <ion-button color="" expand="block" shape="round">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>