<ion-content >
  <div class="padding">
    
    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
      <img src="../../../assets/icon/favicon.png">
    </div>

    <ion-item>
      <ion-label color="light">Numéro de téléphone</ion-label>
      <ion-input color="light" type="mail" placeholder="Numéro de téléphone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Confirmez le mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Confirmez le mot de passe"></ion-input>
    </ion-item>

    <ion-button color="success" expand="block" shape="round">S'inscrire</ion-button>
    <br>
    <ion-button routerLink="/login" color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>
  </div>
</ion-content>
