<ion-content>
  <div class="padding">

    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
      <img src="../../../assets/icon/favicon.png">
    </div>

    <form [formGroup]="credentials" (ngSubmit)="register()">
      <ion-item>
        <ion-label color="light">Nom d'utilisateur</ion-label>
        <ion-input color="light" type="text" placeholder="Nom d'utilisateur" formControlName="username"></ion-input>
        <ion-note slot="error" *ngIf="(username.dirty || username.touched) && username.errors">
          Nom d'utilisateur incorrect
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label color="light">Adresse mail</ion-label>
        <ion-input color="light" type="email" placeholder="Adresse mail" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
          Adresse mail incorrect
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label color="light">Numéro de téléphone</ion-label>
        <ion-input color="light" type="tel" placeholder="Numéro de téléphone" formControlName="tel"></ion-input>
        <ion-note slot="error" *ngIf="(tel.dirty || tel.touched) && tel.errors">
          Numéro de téléphone incorrect
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
          Mot de passe incorrect
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label color="light">Repetez le mot de passe</ion-label>
        <ion-input color="light" type="password" placeholder="Repetez le mot de passe" formControlName="Cpassword">
        </ion-input>
        <ion-note slot="error" *ngIf="(Cpassword.dirty || Cpassword.touched) && Cpassword.errors">
          Les 2 mot de passes ne correspondent pas
        </ion-note>
      </ion-item>

      <ion-button (click)="register()" color="success" expand="block" shape="round">S'inscrire</ion-button>

      <ion-button routerLink="/login" color="light" expand="block" shape="round" fill="outline">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        <ion-label>Connexion</ion-label>
      </ion-button>
    </form>
  </div>
</ion-content>