<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Gestion des adhérents</ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-smallGrey">
  <ion-searchbar placeholder="Nom ou Prénom"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <ion-label> Adamu {{i}} </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover(i)">
          <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
