<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Historique
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-smallGrey">
  <div *ngIf="data.length != 0">
    <ion-list *ngFor="let elem of data">
      <ion-list-header class="list-header-color pb-10 bold">
        {{elem.adherent.name}}
      </ion-list-header>
      <ion-item *ngFor="let history of elem.histories">
        <ion-label class="elem-title">
          <h2>{{toLocalDate(history.day)}}</h2>
        </ion-label>
        <ion-label slot="end" class="elem-title">
          <h3>
            Heure d'arrivée: <strong>{{history.arrivedHour}}</strong>
          </h3>
          <h4>
            Heure de départ: <strong>{{history.leavingHour}}</strong>
          </h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="bg-smallGrey center ion-padding" *ngIf="data.length == 0">
    <ion-icon color="light" class="icon_full" slot="icon-only" name="library"></ion-icon>
    <h5 class="light">L'adhérent ne c'est pas encore rendu à la bibliothèque AFIDI </h5>
  </div>
</ion-content>