<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Historique
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-smallGrey">
  <ion-list *ngIf="histories.length != 0">
    <ion-item *ngFor="let history of histories">
      <h2>{{history.day}}</h2>
      <p>
        Heure d'arrivée: <strong>{{history.arrivedHour}}</strong>.
        Heure de départ: <strong>{{history.leavingHour}}</strong>.
      </p>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="histories.length == 0">
    <div class="bg-smallGrey center ion-padding">
      <ion-icon color="light" class="icon_full" slot="icon-only" name="library"></ion-icon>
      <h5 class="light">L'adhérent ne c'est pas encore rendu à la bibliothèque AFIDI </h5>
    </div>
  </ion-list>
</ion-content>
