<ion-tabs>

  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="activity" mode="ios">
      <ion-icon name="calendar" mode="ios"></ion-icon>
      <ion-label mode="ios">Activités</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" mode="ios">
      <ion-icon name="reader" mode="ios"></ion-icon>
      <ion-label mode="ios">Mon historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" mode="ios">
      <ion-icon name="person" mode="ios"></ion-icon>
      <ion-label mode="ios">Mon profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
