<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Activités
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="logout" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Aujourd'hui
    </ion-list-header>
    <ion-item *ngFor="let activity of getTodayActivities()">
      <ion-label>
        <h2>{{activity?.title}}</h2>
        <h4 class="gray">{{activity.shortDescription}}</h4>
      </ion-label>
      <ion-label slot="end" class="gray">
        <h4>{{activity.beginTime}} - {{activity.endTime}}</h4>
      </ion-label>
      <ion-icon class="gray" slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Demain
    </ion-list-header>
    <ion-item *ngFor="let activity of getTomorrowActivities()">
      <ion-label>
        <h2>{{activity?.title}}</h2>
        <h4 class="gray">{{activity.shortDescription}}</h4>
      </ion-label>
      <ion-label slot="end" class="gray">
        <h4>{{activity.beginTime}} - {{activity.endTime}}</h4>
      </ion-label>
      <ion-icon class="gray" slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
