<ion-content class="bg-smallGrey">
  <div *ngIf="!isEditing">

    <div id="header" class="pt-10">
      <img [src]="currentUser.img" />
      <h3 class="elem-title">{{currentUser.username}}</h3>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Numéro de téléphone
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.phoneNumber}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Adresse mail
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="smaller">
            {{currentUser.email}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Nom
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.firstName}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Prénom
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.lastName}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Langue
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.language == 'fr' ? 'Français': 'Anglais'}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Sexe
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.sex}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Ville
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.city}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Quartier
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.quater}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-label class="elem-title">
          Statut
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="elem-title">
            {{currentUser.isMember ? 'Membre' : getStatus()}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="isEditing">
    <form [formGroup]="credentials" (ngSubmit)="save()">
      <div id="header" class="pt-10">
        <img [src]="currentUser.img" />
        <ion-label class="elem-title" (click)="updatePicture()">Modifier</ion-label>
      </div>
      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Nom d'utilisateur
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="tel" [value]="currentUser.username" formControlName="username"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Numéro de téléphone
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="tel" [value]="currentUser.phoneNumber" formControlName="phoneNumber"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Adresse mail
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="smaller" type="text" [value]="currentUser.email" formControlName="email"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Nom
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="elem-title" type="text" [value]="currentUser.firstName" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Prénom
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="elem-title" type="text" [value]="currentUser.lastName" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Langue
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-select class="elem-title" [value]="currentUser.language" formControlName="language">
              <ion-select-option value="fr" class="elem-title">
                Français
              </ion-select-option>
              <ion-select-option value="en" class="elem-title">
                Anglais
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Sexe
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="elem-title" type="text" [value]="currentUser.sex" formControlName="sex"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Ville
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="elem-title" type="text" [value]="currentUser.city" formControlName="city"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-label class="elem-title">
            Quartier
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input class="elem-title" type="text" [value]="currentUser.quater" formControlName="quater"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </form>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="edit()" *ngIf="!isEditing">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="success" (click)="save()" *ngIf="isEditing">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>