<ion-content class="bg-smallGrey">
  <div id="header" class="pt-10">
    <img src="assets/img/noavatar.png" />
    <h1>Scofield</h1>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-label>
        Numéro de téléphone
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{currentUser.phoneNumber}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-label>
       Adresse mail
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="smaller">
          {{currentUser.email}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>
       Nom
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{currentUser.firstName}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>
       Prénom
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{currentUser.lastName}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>
       Langue
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{currentUser.language == 'fr' ? 'Français': 'Anglais'}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>
       Statut
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{currentUser.isMember ? 'Membre' : getStatus()}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>