<ion-content >
  <div class="padding">

    <div class="logo">
      <img src="../../../assets/icon/favicon.png">
    </div>

    <ion-item lines="none">
      <ion-text>Entrez votre numéro de téléphone, si votre compte existe, vous recevrez un sms de réinitialisation de mot de passe </ion-text>
    </ion-item>
    <br>

    <ion-item>
      <ion-label color="light"> Numéro de téléphone</ion-label>
      <ion-input color="light" type="tel" placeholder="Numéro de téléphone"></ion-input>
    </ion-item>

    <ion-button color="success" expand="block" shape="round">Envoyer</ion-button>
    <br>
    <ion-button routerLink="/login" color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>

  </div>
</ion-content>
