/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Personal style */

// color
.logout {
    color: red !important;
    --color: red !important;
}

.light {
    color: gainsboro !important;
}

.lightGrey, .lightGray {
    color: #fcfcfc !important;
}

.gray, .grey {
    color: gray !important
}

.list-header-color {
    --background: #f1f3f4;
}

.bg-smallGrey {
    --background: #fcfcfc !important;
    background: #fcfcfc !important;
}

//alignment
.center {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}


// padding

.pb-10 {
    padding-bottom: 1rem !important;
}

.p-10 {
    padding: 1rem !important;
}

.pt-10 {
    padding-top: 1rem !important;
}

.py-10 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-10 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

// size
.icon_full {
    font-size: 1500% !important;
}

.smaller {
    font-size: smaller !important;
}