/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Personal style */

.skeletonCardIonImg {
    height: 90px;
}
.toast-success-class, .toast-danger-class, .toast-info-class, .toast-warning-class, ion-alert {
    font-family: codePro-Italic !important;
}
.toast-success-class {
    --color:#ffffff;
    --button-color:#ffffff;
    --background: var(--ion-color-success);
    font-size: large;
}
.toast-warning-class {
    --color:#ffffff;
    --button-color:#ffffff;
    --background: var(--ion-color-warning);
    font-size: large;
}
.toast-danger-class {
    --color:#ffffff;
    --button-color:#ffffff;
    --background: var(--ion-color-danger);
    font-size: large;
    .alert-message.sc-ion-alert-ios {
        color: unset;
    }
}
.toast-info-class {
    --color:#ffffff;
    --button-color:#ffffff;
    --background: var(--ion-color-info);
    font-size: large;
}

.notif-badge {
    margin: -12px 0 0 -10px;
    font-size: 10px;
}

ion-app.force-statusbar-padding {
    --ion-safe-area-top: 5px;
}


// color
.logout {
    color: red !important;
    --color: red !important;
}

.light {
    color: gainsboro !important;
}

.lightGrey, .lightGray {
    color: #fcfcfc !important;
}

.gray, .grey {
    color: gray !important
}

.list-header-color {
    --background: #f1f3f4;
}

.bg-smallGrey {
    --background: #fcfcfc !important;
    background: #fcfcfc !important;
}

//alignment
.center {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}


// padding

.pb-10 {
    padding-bottom: 1rem !important;
}

.p-10 {
    padding: 1rem !important;
}

.pt-10 {
    padding-top: 1rem !important;
}

.py-10 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-10 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

// size
.icon_full {
    font-size: 1500% !important;
}

.smaller {
    font-size: smaller !important;
}

/* personal font declaration and import */
@font-face {
    font-family: "codePro-Black";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Black.ttf');
}
@font-face {
    font-family: "codePro-BlackItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-BlackItalic.ttf');
}
@font-face {
    font-family: "codePro-Bold";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf');
}
@font-face {
    font-family: "codePro-BoldItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-BoldItalic.ttf');
}
@font-face {
    font-family: "codePro-ExtraLight";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf');
}
@font-face {
    font-family: "codePro-ExtraLightItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLightItalic.ttf');
}
@font-face {
    font-family: "codePro-Italic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Italic.ttf');
}
@font-face {
    font-family: "codePro-Light";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Light.ttf');
}
@font-face {
    font-family: "codePro-LightItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-LightItalic.ttf');
}
@font-face {
    font-family: "codePro-Medium";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf');
}
@font-face {
    font-family: "codePro-MediumItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-MediumItalic.ttf');
}
@font-face {
    font-family: "codePro-Regular";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: "codePro-SemiBold";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf');
}
@font-face {
    font-family: "codePro-SemiBoldItalic";
    src: url('assets/fonts/Source_Code_Pro/SourceCodePro-SemiBoldItalic.ttf');
}

.bold {
    font-family: codePro-Bold !important;
}

.boldItalic {
    font-family: codePro-BoldItalic !important;
}

.semiBold {
    font-family: codePro-SemiBold !important;
}

.semiBoldItalic {
    font-family: codePro-SemiBoldItalic !important;
}

/*personal css, to apply on any place where is needed*/
.btn-pointer {
    cursor: pointer;
}

.ion-padding-left {
    padding-inline-start: 30px;
}

.ion-padding-left-26 {
    padding-inline-start: 26px;
}

.ion-padding-right {
    padding-inline-end: 30px;
}

.ion-text-size-17 {
    font-size: 17px;
}

.pub {
    background: var(--ion-color-warning);
}

ion-header {
    border: none;
    ion-toolbar {
        border: none;
    }
}

ion-header {
    ion-toolbar, ion-title {
        ion-title, ion-label {
            font-size: 12px;
        }
        ion-buttons {
            ion-button {
                font-size: 12px;
                ion-icon {
                    font-size: 20px;
                }
            }
        }
    }
}

ion-toolbar, ion-toolbar > ion-label, ion-toolbar > ion-card-title, ion-toolbar > ion-title, ion-toolbar > ion-buttons > ion-button {
    font-family: codePro-BoldItalic !important;
}

.menu-title, .slogan {
    font-family: codePro-Italic !important;
}

.menu-title {
    font-size: 11px !important;
}

.elem-title {
    font-family: codePro-Italic !important;
}

ion-card-title, ion-card-content, ion-card-subtitle {
    font-family: codePro-Regular;
}

.slogan {
    font-size: 10px;
}

ion-button {
    font-style: italic;
}
